.album-page {
  padding: 24px;
  color: white;
}

.album-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* GRID */
.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* ITEM WRAPPER */
.album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* KOTAK ALBUM */
.album-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #181818;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.album-card:hover {
  background: #222;
}

/* PLUS ICON */
.album-plus {
  font-size: 42px;
  color: #666;
}

/* ✅ NAMA ALBUM (DI LUAR KOTAK) */

.album-name {
  margin-top: 10px;
  text-align: center;
}
