.album-page {
  padding: 24px;
  color: white;
}

.album-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* GRID */
.album-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

/* ITEM WRAPPER */
.album-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-card img {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}



/* PLUS ICON */
.album-plus {
  font-size: 42px;
  color: #666;
  width: 240px;
  height: 240px;
}


.album-name {
  margin-top: 10px;
  text-align: center;
}
